<div class="app-heaader">
    <mat-toolbar>
        <span class="app-title">Twisty</span>
        <span class="example-spacer"></span>
        <!-- <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu>
            <button mat-menu-item (click)="goToPage()">
                <span>Edit Details</span>
                <mat-icon>edit</mat-icon>
            </button>
          </mat-menu> -->
    </mat-toolbar>
</div>
