


::ng-deep {
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #fff !important;
        border: 1px solid #ededed;
    }

    .mdc-text-field {
        border-radius: 10px !important;
    }

    .mdc-line-ripple {
        display: none;
    }
}

